header{
    background-color: #F3F5FC;
}

.logo{
    padding-top: 20px;
    margin-left: 20px;
    width: 3em;
}

main{
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textarea-usuario{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-bottom: 5px;
    padding: 15px;
    resize: none;
}

.informacion{
    width: 205px;
    height: 18px;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2f3338;
    margin-bottom: 10px;
    margin-left: 4em;
}

.botones-encriptador{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boton-encriptar{
    padding: 24px;
    width: 275px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}

.boton-desencriptar{
    padding: 24px;
    width: 275px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: black;
    font-family: sans-serif;
    font-size: 17px;
}

.respuesta{
    width: 350px;
    height: 630px;
    margin-bottom: 15px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-left: 0.6em;
}

.area-respuesta {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 630px;
    margin-bottom: 15px;
    background: #FFFFFF;
    background-color: #F3F5FC;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 10px;
    margin-left: 1em;
}

.textarea-respuesta{
    background: #FFFFFF;
    background-color: #F3F5FC;
    border: none;
    padding: 15px;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;
}

.boton-copiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 285px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 1.2em;
    color: black;
    font-family: sans-serif;
    font-size: 17px;
}

.pie{
    background-color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    height: 200px;
}

.logopie{
    margin-right: 3px;
    margin-left: 5px;
    width: 35px;
}

.botonpie{ 
    background-color: #F3F5FC;
    border: 1px solid #F3F5FC;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 55px;
    width: 220px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 30px;
    font-size: 30px;
}

.botonpie:hover{
    transform: scale(1.2);
}

@media screen and (max-width:480px){
    .textarea-usuario {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 630px;
        margin-bottom: 1em;
        margin-left: 0.6em;
    }

    .area-respuesta{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 630px;
        padding: 0.6em;
    }
    
    .boton-encriptar {
        margin-bottom: 1em;
    }
} 