*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 20px;
    margin-left: 20px;
    width: 3%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
   /*  text-transform: lowercase; */
}

::placeholder {color: #0A3871}
    .text-area:focus {
        outline: none;
    }

.respuesta{
    width: 400px;
    height: 780px;
    left: 800px;
    top: 20px;
    background: white;
    /* background-image: url("imagenes/1.png");
    background-repeat: no-repeat; */
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    position: fixed;
    padding: 10px;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.boton-copiar{
    box-sizing: border-box;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    position: absolute;
    width: 336px;
    left: 935px;
    top: 740px;
    z-index: 2
    
}

.informacion{
    color: #495057;
    font-size: 18px;
}

/* 

.pie{

} */


