*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 3%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
   /*  text-transform: lowercase; */
}

::placeholder {color: #0A3871}
    .text-area:focus {
        outline: none;
    }

.respuesta{
    width: 400px;
    height: 780px;
    left: 800px;
    top: 20px;
    background: white;
    /* background-image: url("imagenes/1.png");
    background-repeat: no-repeat; */
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    position: fixed;
}

.respuesta-mostrada{
    width: 400px;
    height: 780px;
    left: 800px;
    top: 20px;
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    position: fixed;
    padding: 15px;
} 

/* .mensaje:focus {
    outline: none;
} */

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.boton-copiar{
    box-sizing: border-box;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    position: absolute;
    width: 336px;
    left: 945px;
    top: 740px;
    z-index: 2
    
}

.informacion{
    color: #495057;
    font-size: 18px;
}

.pie{
background-color: #0A3871;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */
text-align: center;
}

.logopie{
    margin-right: 3px;
    margin-left: 5px;
    width: 10%;
}

.botonpie{
    background-color: #F3F5FC;
    border: 1px solid #F3F5FC;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 55px;
    width: 220px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.botonpie:hover{
    transform: scale(1.2);
}
